# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# VSCode #
##########
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace
.vscode/tasks.json
.vscode/launch.json

# Assignments #
###############
PA_*/*
TA_*/*